<div class="commentFormHeader">
    <div class="commentFormToggle">
        <div class="commentFormHide"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="commentConfirm">
    <p>Thank you for contacting Cal Djs.</p>
    <p>Servicing you is our number one priority.</p>
    <p>We will get back in touch with you as soon as possible.</p>
</div>