<footer>
    <div class="footer">
        <div class="footerMedia">
            <ul>
                <li><%= link_to 'Facebook', 'http://www.facebook.com/wanghenry', target: '_blank' %></li>
                <li><%= link_to 'Twitter', '#' %></li>
                <li><%= link_to 'Blog', blog_path %></li>
            </ul>
        </div>
        <div class="copyright">
            Cal Djs &copy; 2013
        </div>
    </div>
</footer>